@font-face {
	font-family: 'Stalinist One';
	src: url(../fonts/StalinistOne-Regular.ttf);
}

@font-face {
	font-family: 'Jura';
	src: url(../fonts/Jura-VariableFont.ttf);
}

body {
	font-family: 'Jura', serif;
}

h1, h2 {
	font-family: 'Stalinist One', serif;
}

h2 {
	font-size: 1.5rem;
	letter-spacing: 3px;
}

p {
	text-align: justify;
}

header {
	background-color: white;
	padding: 20px 0;
	display: block;
}

.header__title {
	font-size: 2.4rem;
	color: #151b8d;
	text-transform: uppercase;
}

.header__logo {
	width: 120px;
	height: 132px;
}

.about {
	background-color: #fff;
	padding: 30px 0;
}

.about__body {
	padding: 0 0 0 25px;
}

.about__title {
	color: #000;
}
.about__text {
	text-align: justify;
}

.mission {
	background-color: #17a2b8;
	padding: 30px 0;
}

.mission__item {
	display: flex;
	padding: 0 0 10px 0;
}

.mission__title {
	color: white;
	padding: 0 0 20px 0;
}

.mission__body, .mission__image {
	padding: 0 10px;
}

.mission__item-title {
	font-size: 16px;
	font-weight: bold;
	color: wheat;
}

.mission__item-text {
	font-size: 14px;
}

.news {
	padding: 30px 0;
	background-color: #fff;
}

.news__title {
	padding-bottom: 20px;
}

.news__item {
	display: flex;
	padding: 0 0 10px 0;
}

.news__body, .news__image {
	padding: 0 10px;
}

.news__item-title {
	font-size: 16px;
	font-weight: bold;
}

.gallery {
	padding: 30px 0;
}

.gallery__title {
	color: #f8f9fa;
	padding-bottom: 20px;
}

/************ Слайдер ***************/
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
}

.slider {
	position: relative;
	padding: 0 60px;
}

.slider .slick-arrow {
	position: absolute;
	top: 50%;
	border: none;
	box-shadow: none;
	margin: -25px 0 0 0;
	z-index: 10;
	font-size: 0;
	width: 25px;
	height: 50px;
}

.slider .slick-arrow.slick-prev {
	left: 0;
	background: url("../img/gallery/sl-arrow_l.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
	right: 0;
	background: url("../img/gallery/sl-arrow_r.svg") 0 0/100% no-repeat;
}

.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.slider .slick-dots li {
	list-style: none;
	margin: 0 10px;
}

/* Элемент точки */
.slider .slick-dots li button {
	font-size: 0;
	width: 15px;
	height: 15px;
	background-color: #fff;
	border-radius: 50%;
	border: none;
	box-shadow: none;
}

/* Активная точка */
.slider .slick-dots li.slick-active button {
	background-color: transparent;
	border: 1px solid #fff;
}

.slider_item {
	text-align: center;
	opacity: 0.4;
	margin: 0 10px;
}

.slider_item.slick-slide.slick-center {
	opacity: 1;
}

.atamans {
	background-color: #fff;
	padding: 30px 0;
}

.atamans__title {
	padding-bottom: 20px;
}

.atamans__image {
	width: 150px;
	height: 150px;
	margin-top: 15px;
	background-color: #17a2b8;
}

footer {
	padding: 30px 0;
	background-color: #343a40;
	min-height: 100px;
}

.social {
	background-color: #000;
	font-size: 30px;
	padding: 30px 0;
	min-height: 50px;
}

.social a:not(:last-child) {
	margin-right: 20px;
}



@media (max-width: 1200px) { 
	.header__title {
		font-size: 2rem;
	}
}

@media (max-width: 992px) { 
	.header__title {
		font-size: 1.5rem;
	}
	.header__logo {
		width: 100px;
		height: 110px;
	}
	.about__text {
		font-size: 12px;
	}
}

@media (max-width: 767px) { 
	.about__title {
		font-size: 1.2rem;
		padding-top: 10px;
	}
	.footer__block-1 {
		border-top: 1px solid #ffc107;
	}
	.footer__block-2 {
		border-top: 1px solid #007bff;
	}
	.footer__block-3 {
		border-top: 1px solid #28a745;
	}
}
@media (max-width: 576px) { 
	.header__title {
		font-size: 1rem;
	}
	.header__logo {
		width: 70px;
		height: 77px;
	}
	.mission__body, .news__body {
		padding-top: 10px;
		padding-bottom: 20px;
	}
}